<h2>Welcome to Simple-Library</h2>

<% if !@current_user %>
<p>Please Login to continue</p>
<% end %>


<!-- ===== Student Features ===== -->
<% if @current_user.student? %>

<% if @current_user.university == nil%>
<p> Please Register Your University in <%= link_to 'Edit Profile', '/users/edit' %></p>
<% else %>
<p>Welcome <%= @current_user.name%>, please select an action to continue</p>
<ul class="list-group">
    <!-- Search books -->
    <li class="list-group-item"><%= link_to 'Search Books', contains_path %></li>
    <!-- List of libraries -->
    <li class="list-group-item"><%= link_to 'View Libraries', user_libs_path %></li>
    <!-- List of books requested -->
    <li class="list-group-item"><%= link_to 'View Book Requests', manage_req_path %></li>
    <!-- View Bookmarked books-->
    <li class="list-group-item"><%= link_to 'View Bookmarks', view_bookmarks_path %></li>
    <% end %>
</ul>
<% end %>


<!-- ===== Librarian Features ===== -->
<% if @current_user.librarian? %>

<% if @current_user.library_id == nil %>
<p> Please Register Your Library in <%= link_to 'Edit Profile', '/users/edit' %></p>

<% elsif @current_user.pending_approval %>
<br>
<p>Request is not yet approved by admin</p>

<% else %>
<p>Welcome <%= @current_user.name%>, please select an action to continue</p>
<br>

<p class="label-info">Browse</p>
<ul class="list-group">
    <!-- View All books in the system-->
    <li class="list-group-item"><%= link_to 'View Books', books_path %></li>
    <!-- View Books in library and edit count / delete-->
    <li class="list-group-item">
        <%= link_to 'View Books in My Library', lib_books_library_path(Library.find(@current_user.library_id))%>
    </li>
    <!-- View Borrow History -->
    <li class="list-group-item"><%= link_to 'View Borrow History', view_borrow_history_path %></li>
    <!-- View overdue students and fines -->
    <li class="list-group-item"><%= link_to 'View Overdue Students and Fine', view_overdue_fine_path %></li>
    <!-- View checked out books -->
    <li class="list-group-item"><%= link_to 'View Checked Out Books', view_checked_out_books_path %></li>
    <!-- View Hold requests-->
    <li class="list-group-item"><%= link_to 'View Hold Requests', view_hold_path %></li>
</ul>
<br>
<p class="label-info">Actions</p>
<ul class="list-group">
    <!-- List of user requests pending approval -->
    <li class="list-group-item"><%= link_to 'Approve Special Requests', spl_book_aprvl_path %></li>
    <!-- Add Books -->
    <li class="list-group-item"><%= link_to 'Add Books', '/books/new' %></li>
    <!-- Add Book to Library -->
    <li class="list-group-item"><%= link_to 'Add Book to Library', new_contain_path %></li>
</ul>
<% end %>

<% end %>


<!-- ===== Admin Features ===== -->
<% if @current_user.admin? %>
<p class="label-info">Browse</p>
<ul class="list-group">
    <!-- View all libraries -->
    <li class="list-group-item"><%= link_to 'View Libraries', user_libs_path %></li>
    <!-- View all libraries -->
    <li class="list-group-item"><%= link_to 'View Books', books_path %></li>
    <!-- View all users -->
    <li class="list-group-item"><%= link_to 'View All Users', view_users_path%></li>
    <!-- View checked out books -->
    <li class="list-group-item"><%= link_to 'View Checked Out Books', view_checked_out_books_path %></li>
    <!-- View overdue students and fines -->
    <li class="list-group-item"><%= link_to 'View Overdue Students and Fine', view_overdue_fine_path %></li>
    <!-- View Borrow History -->
    <li class="list-group-item"><%= link_to 'View Borrow History', view_borrow_history_path %></li>
    <!-- View hold requests of all users -->
    <li class="list-group-item"><%= link_to 'View Hold Requests', view_hold_path %></li>

</ul>
<br>
<p class="label-info">Actions</p>
<ul class="list-group">
    <!-- View list of users -->
    <li class="list-group-item"><%= link_to 'Approve Librarian', approvals_url %></li>
    <!-- Add Libraries -->
    <li class="list-group-item"><%= link_to 'Add New Library', new_library_path %></li>
    <!-- Add Books -->
    <li class="list-group-item"><%= link_to 'Add New Book', new_book_path %></li>
    <!-- Add Book to Library -->
    <li class="list-group-item"><%= link_to 'Add Book to Library', new_contain_path %></li>
    <!-- Add new Student -->
    <li class="list-group-item">Add New Student</li>
    <!-- Add librarian -->
    <li class="list-group-item">Add New Librarian</li>

</ul>
<% end %>