<h2>Welcome to Simple-Library</h2>

<% if !@current_user %>

<% end %>

<% if @current_user.student? %>
<ul class="list-group">
    <% if @current_user.university == nil%>
    <p> Please Register Your University in <%= link_to 'Edit Profile', '/users/edit' %></p>
    <% else %>
    <p>Welcome <%= @current_user.name%>, please select an action to continue</p>
    <!-- List of libraries -->
    <li class="list-group-item"><%= link_to 'View Libraries', user_libs_path %></li>
    <!-- List of books requested -->
    <li class="list-group-item"><%= link_to 'View Book Requests', manage_req_path %></li>
    <!-- Search books -->
    <li class="list-group-item"><%= link_to 'Search Books', '/contains' %></li>
    <% end %>
</ul>
<% end %>

<% if @current_user.librarian? %>

<% if @current_user.library_id == nil %>
<p> Please Register Your Library in <%= link_to 'Edit Profile', '/users/edit' %></p>

<% elsif @current_user.pending_approval %>
<br>
<p>Request is not yet approved by admin</p>

<% else %>
<p>Welcome <%= @current_user.name%>, please select an action to continue</p>
<ul class="list-group">
    <!-- View Books (edit / remove on book view)-->
    <li class="list-group-item">View all books</li>
    <!-- Add Books -->
    <li class="list-group-item"><%= link_to 'Add Books', '/books/new' %></li>
    <!-- Add Book to Library -->
    <li class="list-group-item"><%= link_to 'Add Book to Library', new_contain_path %></li>
    <!-- View overdue students and fines -->
    <li class="list-group-item">View Overdues and Fines</li>
    <!-- View Hold requests-->
    <li class="list-group-item"><%= link_to 'View Hold Requests', view_hold_path %></li>
    <!-- Add Book to Library -->
    <li class="list-group-item"><%= link_to 'Add Book to Library', new_contain_path %></li>
    <!-- List of user requests pending approval -->
    <li class="list-group-item"><%= link_to 'Approve Special Requests', spl_book_aprvl_path %></li>
</ul>
<% end %>

<% end %>

<% if @current_user.admin? %>
<p class="label-info">Browse</p>
<ul class="list-group">
    <!-- View all libraries -->
    <li class="list-group-item"><%= link_to 'View Libraries', user_libs_path %></li>
    <!-- View all libraries -->
    <li class="list-group-item"><%= link_to 'View Books', books_path %></li>
    <!-- View all users -->
    <li class="list-group-item"><%= link_to 'View Users', view_users_path%></li>
    <!-- View hold requests of all users -->
    <li class="list-group-item">View Holds</li>
</ul>
<br>
<p class="label-info">Actions</p>
<ul class="list-group">
    <!-- View list of users -->
    <li class="list-group-item"><%= link_to 'Approve Librarian', approvals_url %></li>
    <!-- Add Libraries -->
    <li class="list-group-item"><%= link_to 'Add New Library', new_library_path %></li>
    <!-- Add Books -->
    <li class="list-group-item"><%= link_to 'Add New Book', new_book_path %></li>
    <!-- Add Book to Library -->
    <li class="list-group-item"><%= link_to 'Add Book to Library', new_contain_path %></li>
    <!-- Add new Student -->
    <li class="list-group-item">Add New Student</li>
    <!-- Add librarian -->
    <li class="list-group-item">Add New Librarian</li>

</ul>
<% end %>