<!-- Default registration page by devise -->

<div class="card auth-form col-md-6">
  <div class="container" style="padding: 2%">
    <!-- <%= devise_error_messages! %> -->
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name),
    label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name"  %>
    <%= f.email_field :email, autocomplete: "email" %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>

    <br>
    <%= f.primary "Sign up as Librarian", :id => "librarian_submit" %>
    <%= f.primary "Sign up as Student", :id => "student_submit" %>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>

<!--Adding the user type into request form-->
<script>
  let $form = document.getElementsByTagName('form')[0];

  document.getElementById('librarian_submit').addEventListener('click', () => {
    let input = document.createElement("input");
    input.type = 'hidden';
    input.name = 'user[librarian]';
    input.value = true;
    $form.appendChild(input);
  });

  // Setting pending approval as false by default to new librarian
  document.getElementById('librarian_submit').addEventListener('click', () => {
    let input = document.createElement("input");
    input.type = 'hidden';
    input.name = 'user[pending_approval]';
    input.value = true;
    $form.appendChild(input);
  });

  document.getElementById('student_submit').addEventListener('click', () => {
    let input = document.createElement("input");
    input.type = 'hidden';
    input.name = 'user[student]';
    input.value = true;
    $form.appendChild(input);
  });
</script>