<!-- Default registration page by devise -->

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-4">
    <%= devise_error_messages! %>
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.text_field :name %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

    <br>
    <%= f.primary "Sign up as Librarian", :id => "librarian_submit" %>
    <%= f.primary "Sign up as Student", :id => "student_submit" %>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>