<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>University:</strong>
  <%= @library.university %>
</p>

<p>
  <strong>Location:</strong>
  <%= @library.location %>
</p>

<p>
  <strong>Max borrow days:</strong>
  <%= @library.max_borrow_days %>
</p>

<p>
  <strong>Overdue fine:</strong>
  <%= @library.overdue_fine %>
</p>

<%= link_to 'View Books', lib_books_library_path(@library)%>
<br><br>
<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', user_libs_path %>