





<h1>Books</h1>

<br><br>

<div class="row">
  <div class="col-sm-1"></div>
  <%= form_tag books_path, method: 'get', :class => "col-sm-11" do %>
    <input type='hidden' name='search' value='true'>
    <div class="col-sm-3">
      <input type='string' class="form-control" placeholder="Title" name='title' value="<%= params[:title]%>">
    </div>
    <div class="col-sm-3">
      <input type='string' class="form-control" placeholder="Author" name='author' value="<%=params[:author]%>">
    </div>
    <div class="col-sm-3">
      <input type='date' class="form-control" placeholder="Published" name='published' value="<%=params[:published]%>">
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary">Search</button>
    </div>
  <% end %>
</div>

<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Subject</th>
      <th>Special</th>
      <th>Summary</th>
      <th>Edition</th>
      <th>Publised</th>
      <th>Language</th>

      <% if current_user.librarian? %>
        <th><strong>Students</strong></th>
        <th>Control</th>
      <% end %>

      <% if current_user.student? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.author %></td>
        <td><%= book.subject %></td>
        <td><%= book.is_special %></td>
        <td><%= book.summary %></td>
        <td><%= book.edition %></td>
        <td><%= book.published %></td>
        <td><%= book.language %></td>
      </tr>
    <% end %>
  </tbody>
</table

















