





<h3>Books List</h3>

<table class="table">

  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Subject</th>
      <th>Isbn</th>
      <th>Is special</th>
      <th>Edition</th>
      <th>Publised</th>
      <th>Language</th>

      <% if current_user.librarian? %>
        <th><strong>Students</strong></th>
        <th>Control</th>
      <% end %>

      <% if current_user.student? %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.subject %></td>
      <td><%= book.isbn %></td>
      <td><%= book.is_special %></td>
      <td><%= book.edition %></td>
      <td><%= book.published %></td>
      <td><%= book.language %></td>

      <% if not @current_user.student? %>
      <td><%= link_to 'Show', book %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table
















<<<<<<< HEAD

=======
<br>
<%= link_to 'Home', "/" %>
>>>>>>> d5a09595e54ae6864eaddb225d870ecf356e9016
