<h3><%= @book.title%></h3>
<hr>
<br><br>

<div class="container-fluid">
  <div class="book-summ col-md-5">
    <div class="card img-details">
      <%if !@book.Image.blank?%>
      <%= image_tag(url_for(@book.Image), :size => "450x250") %>
      <%end%>
    </div>
    <div class="card summary-details">
      <p><%=@book.summary%></p>
    </div>
    <% if @message %><div class="card summary-details">
      <p><%= raw @message%></p>
    </div><% end %>

    <div class="book-actions">
      <br>
      <%= link_to 'Back', :back%> |
      <%= link_to 'Home', "/" %>
    </div>

  </div>


  <div class="card book-details col-md-5">
    <h5>Book Details:</h5>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>Name:</th>
          <td><%= @book.title%></td>
        </tr>
        <tr>
          <th>ISBN:</th>
          <td><%= @book.isbn%></td>
        </tr>
        <tr>
          <th>Subject:</th>
          <td><%= @book.subject%></td>
        </tr>
        <tr>
          <th>Author:</th>
          <td><%= @book.author%></td>
        </tr>
        <tr>
          <th>Edition:</th>
          <td><%= @book.edition%></td>
        </tr>
        <tr>
          <th>Language:</th>
          <td><%= @book.language%></td>
        </tr>
        <tr>
          <th>Is Special:</th>
          <td><%= @book.is_special ? "Yes" : "No"%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>