<div class="card">
    <div class="container" style="padding: 2%">

        <%= bootstrap_form_for(@contain, @current_user,
                  url: form_url, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>

        <%= f.select :library_id, Library.all.collect{ |e| [e.name, e.id] } , required: true  %>
        <%= f.select :book_id, Book.all.collect{ |e| [e.title, e.id] }, required: true  %>
        <%= f.number_field :count, required: true %>

        <br>
        <%= f.primary submit_label %>
        <% end %>
    </div>
</div>