<p id="notice"><%= notice %></p>

<h3>Books in <%= lib_name %></h3>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>University</th>
            <th>Location</th>
            <th>Max borrow days</th>
            <th>Overdue fine</th>
            <th colspan="5"></th>
        </tr>
    </thead>

    <tbody>
        <% @libraries.each do |library| %>
        <tr>
            <td><%= library.name %></td>
            <td><%= library.university %></td>
            <td><%= library.location %></td>
            <td><%= library.max_borrow_days %></td>
            <td><%= library.overdue_fine %></td>

            <td><%= link_to 'Show', library %></td>
            <td><%= link_to 'Books',  %></td>
            <% if not @current_user.student? %>
            <td><%= link_to 'Edit', edit_library_path(library) %></td>
            <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

        </tr>
        <% end %>
    </tbody>
</table>

<br>
<%= link_to 'Home', "/" %>